﻿@{
    ViewData["Title"] = "Link Shortener";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="ShortenLink">
    <div class="form-group">
        <label for="originalUrl">Enter the original URL:</label>
        <input type="text" class="form-control" name="originalUrl" id="originalUrl" required />
    </div>
    <button type="submit" class="btn btn-primary">ShortenLink</button>
</form>

@if (ViewBag.ShortenedUrl != null)
{
    <div class="mt-4">
        <h4>Shortened URL:</h4>
        <a href="@ViewBag.ShortenedUrl" target="_blank">@ViewBag.ShortenedUrl</a>
    </div>
}